*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.wrap::after{
    content:'';
    display: block;
    clear: both;
}
.wrap>article:last-child{
    margin-right: 0;
}
.hidden{
    position: absolute;
    top: -9999px;
    font-size: 0;
    opacity: 0;
}