@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&family=Limelight&display=swap');
@import 'reset';

$font: 'Gothic A1';
$tablet : 1179px;
$mobile : 539px;

body{
    font-family: $font;
}

#header{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #B3B3AF;
    position: relative;

    .inner{
        width: 1180px;
        height: 80px;
        margin: 0 auto;
        position: relative;
        text-align: center;

        h1{
            position: absolute;
            left: 0;
            bottom: 10px;
            font-size: 0;

            a{
                font: bold 28px/1 'Limelight';
                color: #000;
                letter-spacing: 1px;
            }
        }
        #gnb{
            width: 65%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            li{
                float: left;

                a{
                    display: block;
                    padding: 15px 20px;
                    font: 500 16px/1 $font;
                    color: #000;
                    letter-spacing: 0.5px;
                }
            }
        }
        .util{
            position: absolute;
            bottom: 10px;
            right: 0;

            li{
                float: left;
                margin-left: 20px;

                a{
                    font-size: 18px;
                    color: #000;
                }
                &.btnMo{
                    width: 18px;
                    height: 16px;
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;

                    span{
                        display: inline-block;
                        width: 100%;
                        height: 2px;
                        text-indent: -9999px;
                        font-size: 0;
                        background: #000;
                        position: absolute;
                        top: 7px;
                        left: 0;
                        transition: 1s;
                    }
                    &::before{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: 1s;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: 1s;
                    }
                    &.on{
                        span{
                            left: 100%;
                            opacity: 0;
                        }
                        &::before{
                            top: 7px;
                            transform: rotate(45deg);
                            transition: top 0.6s, transform 0.6s 0.6s;
                        }
                        &::after{
                            bottom: 7px;
                            transform: rotate(-45deg);
                            transition: bottom 0.6s, transform 0.6s 0.6s;
                        }
                    }
                }
            }
        }
    }
    .gnbMo{
        width: 100%;
        height: calc(100vh - 80px);
        background: #fff;
        border-top: 1px solid #000;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: 1s;

        ul{
            li{
                padding:50px;
                border-bottom: 1px solid #e8e8e8;

                a{
                    font: 600 18px/1 $font;
                    color: #000;
                }
            }
        }
        &.on{
            left: 0;
        }
    }
}

#visual{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #ddd;
}

#content{
    width: 100%;
    padding: 100px 0;

    .inner{
        width: 1180px;
        margin: 0 auto;

        h1{
            font: bold 24px/1 $font;
            color: #000;
            text-align: center;
            margin-bottom: 50px;
        }

        .wrap{
            article{
                float: left;
                width: 280px;
                margin-right: 20px;

                h2{
                    font: bold 18px/1 $font;
                    color: #222;
                    text-align: center;
                    margin-bottom: 5px;
                }
                p{
                    font: 16px/1 $font;
                    color: #555;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .pic{
                    width: 100%;
                    height: 150px;
                    background: #bbb;
                }
            }
        }
    }
}

#footer{
    width: 100%;
    padding: 150px 0;
    border-top: 1px solid #e8e8e8;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .top{
            margin-bottom: 30px;

            h1{
                float: left;
                font-size: 0;

                a{
                    font: 34px/1 'Limelight';
                    color: #000;
                }
            }
            .sns{
                float: right;

                li{
                    float: left;
                    margin-left: 20px;

                    a{
                        font-size: 20px;
                        color: #000;
                    }
                }
            }
        }
        .bottom{
            margin-bottom: 30px;

            address{
                float: left;
                font: 500 14px/1.8 $font;
                color: #333;
                letter-spacing: 0.5px;

                .btn{
                    background: #bbb;
                    color: #fff;
                    font-size: 12px;
                    display: inline-block;
                    padding: 0 3px;
                    cursor: pointer;
                }
                p{
                    margin-top: 30px;

                    span{
                        color: #ccc;
                        margin-left: 15px;
                    }
                }
            }
            ul{
                float: right;
                text-align: right;

                li{
                    a{
                        font: 500 14px/1.8 $font;
                        color: #000;
                        position: relative;
                    }
                    &:nth-of-type(3) a::after{
                        content:'';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
        }
        >p{
            font: 500 14px/1 $font;
            color: #ccc;
        }
    }
}


@media screen and (max-width: $tablet){
    #header{
        padding: 0 30px; 

        .inner{
            width: 100%;

            #gnb{
                display: none;
            }
        }
    }
    
    #content{
        padding: 50px 30px;
    
        .inner{
            width: 100%;
    
            .wrap{
                article{
                    width: 49%;
                    margin-right: 2%;
                    margin-bottom: 20px;
                    
                    &:nth-of-type(even){
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    #footer{
        padding: 50px 30px;
    
        .inner{
            width: 100%;

            .bottom address{
                width: 75%;
                line-height: 1.6;
            }
        }
    }
}

@media screen and (max-width: $mobile){
    #header{
        padding: 0 10px;

        .inner{
            height: 60px;

            h1 a{
                font-size: 24px;
            }
        }
    }

    #visual{
        height: 300px;
    }

    #content{
        padding: 50px 10px;

        .inner{
            .wrap{
                article{
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }

    #footer{
        padding: 50px 10px;
    
        .inner{
            width: 100%;

            .top{
                text-align: center;

                h1{
                    float: none;
                    margin-bottom: 20px;
    
                    a{
                        font-size: 22px;
                    }
                }
                .sns{
                    float: none;
                    display: inline-block;

                    li{
                        &:first-child{
                            margin-left: 0;
                        }
                        a{
                            font-size: 18px;
                        }
                    }
                }
            } 
            .bottom{
                address{
                    width: 100%;
                    font-size: 12px;
                    line-height: 1.4;
                    margin-bottom: 30px;
                    text-align: center;

                    .btn{
                        font-size: 11px;
                    }
                    p{
                        margin-top: 10px;

                        span{
                            margin-left: 0;
                            display: block;
                        }
                    }
                }
                ul{
                    text-align: center;

                    li{
                        display: inline-block;
                        padding: 0px 10px;

                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
            >p{
                font-size: 12px;
                text-align: center;
            }
        }
    }
}


// sub
@import 'sub/common_sub';
@import 'sub/department';