@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;400;500&family=Pathway+Gothic+One&display=swap');
@import 'reset';

$font: 'Gothic A1';
$tablet : 1179px;
$tablet2 : 768px;
$mobile : 539px;

body{
    font-family: $font;
    width: 100%;
    overflow-x: hidden;
}

#header{
    width: 100%;
    padding-top: 40px;
    background: #fff;
    border-bottom: 1px solid #B3B3AF;
    position: relative;
    z-index: 2;

    .inner{
        width: 1180px;
        height: 40px;
        margin: 0 auto;
        position: relative;
        text-align: center;

        h1{
            position: absolute;
            left: 0;
            bottom: 10px;
            font-size: 0;

            a{
                font: bold 30px/1 'Pathway Gothic One';
                color: #000;
                letter-spacing: 1px;
            }
        }
        #gnb{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 0;

            >li{
                display: inline-block;

                >a{
                    display: block;
                    padding: 10px 20px;
                    font: 500 16px/1 $font;
                    color: #000;
                    letter-spacing: 0.5px;
                }
                &:hover >a{
                    font-weight: 600;
                }
                .sub{
                    display: none;
                    width: 1180px;
                    height: 320px;
                    position: absolute;
                    left: 0;
                    top: 37px;
                    background: #fff;
                    box-shadow: 0px 20px 20px rgba(0,0,0,0.15);

                    &::before{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: inherit;
                        position: absolute;
                        top: 0;
                        left: -100%;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: inherit;
                        position: absolute;
                        top: 0;
                        right: -100%;
                    }
                    >ul{
                        width: 90%;
                        height: 100%;
                        margin: 0 auto;

                        li{
                            float: left;
                            width: 15%;
                            height: 100%;
                            padding-top: 30px;
                            border-right: 1px solid #ddd;

                            h2{
                                font: 600 15px/1 $font;
                                color: #111;
                                margin-bottom: 10px;
                            }
                            a{
                                display: block;
                                padding: 10px;
                                font: 400 14px/1 $font;
                                color: #555;

                                &:hover{
                                    color: #111;
                                    font-weight: 500;
                                }
                            }
                            &:first-child{
                                background: #f6f6f6;
                                border-left: 1px solid #ddd;
                            }
                            &:nth-of-type(n+4){
                                border-right: none;
                            }
                            &:last-child{
                                width: 35%;

                                .pic{
                                    width: 100%;
                                    height: 250px;
                                    background: #bbb;
                                }
                            }
                        }
                    }
                }
            }
        }
        .util{
            position: absolute;
            bottom: 10px;
            right: 0;

            li{
                float: left;
                margin-left: 20px;

                a{
                    display: block;
                    position: relative;
                    width: 18px;
                    height: 16px;

                }
                &:nth-of-type(1){
                    a{
                        &::before{
                            content:'';
                            display: block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            border: 2px solid #000;
                            position: absolute;
                            top: -2px;
                            left: 0;
                        }
                        &::after{
                            content:'';
                            display: block;
                            width: 10px;
                            height: 2px;
                            background: #000;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            transform-origin: right center;
                            transform: rotate(45deg);
                        }
                    }
                }
                &:nth-of-type(2){
                    a{
                        &::before{
                            content:'';
                            display: block;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            border: 2px solid #000;
                            position: absolute;
                            top: -3px;
                            left: 5px;
                        }
                        &::after{
                            content:'';
                            display: block;
                            width: 16px;
                            height: 4px;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border: 2px solid #000;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
                &.btnMo{
                    a{
                        width: 18px;
                        height: 16px;
                        overflow: hidden;

                        span{
                            display: block;
                            width: 100%;
                            text-indent: -9999px;
                            font-size: 0;
                            height: 2px;
                            background: #000;
                            position: absolute;
                            top: 7px;
                            left: 0;
                            transition: .6s;
                        }
                        &::before{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #000;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: .6s;
                        }
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #000;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: .6s;
                        }
                    }
                    
                    &.on{
                        a{
                            span{
                                left: 100%;
                                opacity: 0;
                            }
                            &::before{
                                top: 7px;
                                transform: rotate(45deg);
                                transition: top 0.6s, transform 0.6s 0.6s;
                            }
                            &::after{
                                bottom: 7px;
                                transform: rotate(-45deg);
                                transition: bottom 0.6s, transform 0.6s 0.6s;
                            }
                        }
                    }
                }
            }
        }
    }
    .gnbMo{
        width: 100%;
        height: 100vh;
        background: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding-top: 20px;
        position: absolute;
        top: 80px;
        left: -100%;
        transition: 1s;
        opacity: 0;
        z-index: 2;

        >li{
            text-align: right;
            height: 170px;
            padding-right: 80%;
            position: relative;

            a{
                font: 600 18px/1 $font;
                color: #000;
            }
            .arrow{
                display: none;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 27px;
                right: 30px;
                cursor: pointer;
                transition: .6s;

                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #bbb;
                    transform-origin: right center;
                    transform: rotate(45deg);
                }
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #bbb;
                    transform-origin: right center;
                    transform: rotate(-45deg);
                    margin-top: -2px;
                }
                &.on{
                    transform: rotate(90deg);
                }
            }
            ul{
                position: absolute;
                top: 0;
                left: 25%;

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }
                li{
                    float: left;
                    width: 20vw;
                    height: 150px;
                    margin-right: 20px;

                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        text-align: center;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0.6;
                        }
                        span{
                            font: 300 16px/1 $font;
                            color: #000;
                            position: relative;
                        }
                    }
                }
            }
        }
        &.on{
            left: 0;
            opacity: 1;
        }
    }
}

#visual{
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .wrap{
        width: calc((100% / 7) * 8 + 20px);
        height: 100%;
        background-color: #fff;
        transition: 1s;

        img{
            width: calc((100% - 20px) / 8 - 20px);
            height: 100%;
            margin-right: 20px;
            float: left;
            object-fit: cover;
            opacity: 0.8;
            filter: saturate(10%);
            transition: .6s;
            cursor: pointer;

            &.on{
                width: calc((100% - 20px) / 8);
                filter: saturate(120%);
            }
        }
    }
    .left{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        height: 100px;
        background: rgba(0,0,0,0.8);

        &::before{
            content:'';
            display: block;
            position: absolute;
            top: 50%;
            left: 25px;
            width: 50px;
            height: 1px;
            background: #fff;
            transform-origin: left center;
            transform: rotate(-35deg);
        }
        &::after{
            content:'';
            display: block;
            position: absolute;
            top: 50%;
            left: 25px;
            width: 50px;
            height: 1px;
            background: #fff;
            transform-origin: left center;
            transform: rotate(35deg);
        }
    }
    .right{
        position: absolute;
        top: 50%;
        right: 0;
        width: 100px;
        height: 100px;
        background: rgba(0,0,0,0.8);

        &::before{
            content:'';
            display: block;
            position: absolute;
            top: 50%;
            right: 25px;
            width: 50px;
            height: 1px;
            background: #fff;
            transform-origin: right center;
            transform: rotate(35deg);
        }
        &::after{
            content:'';
            display: block;
            position: absolute;
            top: 50%;
            right: 25px;
            width: 50px;
            height: 1px;
            background: #fff;
            transform-origin: right center;
            transform: rotate(-35deg);
        }
    }
}

#main{
    .section{
        width: 100%;
        border-top: 3px solid #111;
    
        .inner{
            width: 1180px;
            margin: 0 auto;
            padding: 100px 0;
    
            .title{
                font: bold 70px/1 'Pathway Gothic One';
                color: #111;
                margin-bottom: 10px;
                transform: translateX(-200px);
                opacity: 0;
                transition: 1s;
            }
            .sub{
                font: 500 18px/1 $font;
                color: #888;
                text-transform: uppercase;
                letter-spacing: -1px;
                margin-bottom: 50px;
                transform: translateX(-200px);
                opacity: 0;
                transition: 1s .2s;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &.on .inner{
            .title, .sub{
                transform: translateX(0);
                opacity: 1;
            }
        }
        &#intro{
            .inner .wrap{
                .tit{
                    float: left;
    
                    h1{
                        font: 600 90px/1 'Pathway Gothic One';
                        color: #bbb;
                    }
                    h2{
                        font: 600 240px/1 'Pathway Gothic One';
                        color: #111;
                    }
                }
                .desc{
                    width: 35%;
                    float: right;
    
                    p{
                        font: 400 16px/1.3 $font;
                        color: #444;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &#process{
            .inner .wrap{
                article{
                    width: 280px;
                    margin-right: 20px;
                    float: left;
    
                    .pic{
                        width: 100%;
                        height: 280px;
                        border-radius: 50%;
                        background: #222;
                        margin-bottom: 30px;
                    }
                    .txt{
                        h2{
                            font: bold 45px/0.8 'Pathway Gothic One';
                            color: #111;
                            margin-bottom: 20px;
                        }
                        p{
                            font: 18px/1.2 $font;
                            color: #555;
                        }
                    }
                }
            }
        }
        &#topic{
            .inner dl{
                width: 100%;
    
                dt{
                    width: 100%;
                    height: 50px;
                    background: #000;
                    margin-bottom: 30px;
                    padding: 10px 20px;
                    position: relative;
    
                    h2{
                        font: 30px/30px 'Pathway Gothic One';
                        color: #fff;
                    }
                    .btn{
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        width: 30px;
                        height: 30px;
                        margin-top: -15px;
                        text-indent: -9999px;
    
                        &::before{
                            content:'';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            margin-top: -1px;
                        }
                        &::after{
                            content:'';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            margin-top: -1px;
                            opacity: 1;
                            transform: rotate(270deg);
                            transition: 1s;
                        }
                        &.on::after{
                            opacity: 0;
                            transform: rotateX(0);
                        }
                    }
                }
                dd{
                    display: none;
    
                    h3{
                        font: bold 30px/1 'Pathway Gothic One';
                        color: #111;
                        margin-bottom: 10px;
                    }
                    p{
                        font: 500 14px/1.4 $font;
                        color: #555;
                        margin-bottom: 20px;
                    }
                    .pic{
                        width: 100%;
                        height: 400px;
                        background: #bbb;
                        margin-bottom: 30px;
    
                        img{
                            filter: grayscale(80%);
                        }
                    }
                }
                dd.technical{
                    display: block;
    
                    article{
                        width: 100%;
                        border-bottom: 3px solid #000;
                        margin-bottom: 20px;
                    }
                    .wrap{
                        article{
                            width: 380px;
                            margin-right: 20px;
                            float: left;
                            border-bottom: none;
    
                            .pic{
                                height: 250px;
                            }
                        }
                    }
                }
                dd.behind{
                    margin-bottom: 20px;
    
                    .wrap{
                        width: 100%;
    
                        article{
                            width: 580px;
                            margin-right: 20px;
                            float: left;
    
                            .pic{
                                height: 250px;
                                margin-bottom: 0;
    
                                &:nth-of-type(2){
                                    background: #aaa;
                                }
                            }
                        }
                    }
                }
                dd.interview{
                    .wrap article{
                        float: left;
                        width: 380px;
                        margin-right: 20px;
    
                        .pic{
                            height: 250px;
                            background: linear-gradient(45deg, #000, #444);
    
                            img{
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
        &#news{
            .inner{
                .wrap{
                    >div{
                        width: 380px;
                        margin-right: 20px;
                        float: left;
    
                        &:last-child{
                            margin-right: 0;
    
                            .border{
                                margin-bottom: 40px;
    
                                h2{
                                    font-size: 40px;
                                    line-height: 1.3;
                                    letter-spacing: 2px;
                                }
                            }
                            .article{
                                .pic{
                                    height: 300px;
                                }
                            }
                        }
                        article{
                            padding: 20px;
                            margin-bottom: 20px;
    
                            &.calendar{
                                border-top: 3px solid #222;
                                border-bottom: 3px solid #222;
        
                                p{
                                    text-align: right;
                                    color: #222;
                                    font: 500 20px/1 $font;
        
                                    &.day{
                                        font: 600 50px/1 $font;
                                        letter-spacing: -2px;
                                        color: #000;
                                        margin-bottom: 10px;
                                    }
                                    &.date{
                                        font: 600 120px/1 $font;
                                        letter-spacing: -10px;
                                    }
                                    &.month{
                                        font: 600 80px/1 $font;
                                    }
                                    &.year{
                                        font: 600 60px/1 $font;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                            &.border{
                                border: 4px solid #000;
                                padding: 100px 20px 20px;
                                text-align: right;
    
                                h1{
                                    font: 400 28px/1.2 $font;
                                    margin-bottom: 30px;
                                    color: #333;
                                }
                                h2{
                                    font: 600 80px/1 $font;
                                    color: #111;
                                    letter-spacing: 5px;
                                }
                            }
                            &.article{
                                border-top: 3px solid #333;
                                padding: 10px 0 30px;
                                position: relative;
    
                                &::before{
                                    content:'lorem lorem';
                                    display: block;
                                    position: absolute;
                                    right: 0;
                                    top: -20px;
                                    font: 600 18px/1 $font;
                                }
                                .pic{
                                    width: 100%;
                                    height: 500px;
                                    background: #bbb;
                                    margin-bottom: 20px;
    
                                    img{
                                        filter: grayscale(100%);
                                    }
                                }
                                p{
                                    font: 400 18px/1.2 $font;
                                    color: #222;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer{
    width: 100%;
    padding: 150px 0;
    border-top: 2px solid #222;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .top{
            margin-bottom: 30px;

            h1{
                float: left;
                font-size: 0;

                a{
                    font: bold 42px/1 'Pathway Gothic One';
                    letter-spacing: 1px;
                    color: #000;
                }
            }
            .sns{
                float: right;

                li{
                    float: left;
                    margin-left: 20px;

                    a{
                        font-size: 20px;
                        color: #000;
                    }
                }
            }
        }
        .bottom{
            margin-bottom: 30px;

            address{
                float: left;
                font: 500 14px/1.8 $font;
                color: #333;
                letter-spacing: 0.5px;

                .btn{
                    background: #bbb;
                    color: #fff;
                    font-size: 12px;
                    display: inline-block;
                    padding: 0 3px;
                    cursor: pointer;
                }
                p{
                    margin-top: 30px;

                    span{
                        color: #ccc;
                        margin-left: 15px;
                    }
                }
            }
            ul{
                float: right;
                text-align: right;

                li{
                    a{
                        font: 500 14px/1.8 $font;
                        color: #000;
                        position: relative;
                    }
                    &:nth-of-type(3) a::after{
                        content:'';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
        }
        >p{
            font: 500 14px/1 $font;
            color: #ccc;
        }
    }
}

#navi{
    position: fixed;
    top: 50%;
    right: 50px;

    li{
        a{
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #eee;
            margin-bottom: 20px;
            transition: 1s;
        }
        &.on a{
            height: 50px;
            background: #222;
        }
    }
}

#popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index:2;

    .inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        background: #fff;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);

        .pic{
            width: 100%;
            height: 400px;
            background: #eee;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .swiper-pagination span{
                background: #222;
            }
        }
        .btns{
            padding: 15px 30px;

            input{
                display: none;
            }
            label{
                font: 300 15px/20px $font;
                color: #000;

                &::before{
                    content:'';
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #aaa;
                    margin-right: 10px;
                    vertical-align: middle;
                }
                &.on{
                    &::before{
                        background: #000;
                    }
                }
            }
            .close{
                float: right;
                font: 500 15px/1.3 $font;
                color: #333;
                position: relative;

                &::before{
                    content:'';
                    display: inline-block;
                    width: 1px;
                    height: 26px;
                    background: #ddd;
                    position: absolute;
                    top: -4px;
                    left: -40px;
                }
            }
        }

    }


}

.delCookie{
    display: block;
    position: absolute;
    top: 0;
    right: 150px;
    width: 100px;
    height: 30px;
    font: 500 16px/30px $font;
    color: #000;
    border: 1px solid #bbb;
    text-align: center;
    z-index: 2;
}

.detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 200px 100px;
    background: rgba(0,0,0,0.9);
    z-index: 3;

    .pic{
        float: left;
        width: 50%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    h2{
        float: right;
        width: 40%;
        font: 500 24px/1 $font;
        color: #eee;
    }
    .close{
        position: absolute;
        top: 50px;
        right: 50px;
        font: 500 18px/1 $font;
        color: #fff;
    }
}



@media screen and (max-width: $tablet){
    #header{
        padding: 30px 30px 0; 

        .inner{
            width: 100%;

            #gnb{
                display: none;
            }
        }
        .gnbMo{
            top: 70px;
        }
    }

    #main{
        .section{
            .inner{
                width: 100%;
                padding: 100px 50px;
            }
            &#intro{
                .inner .wrap{
                    .tit{
                        h1{
                            font-size: 7vw;
                        }
                        h2{
                            font-size: 16vw;
                        }
                    }
                    .desc{
                        width: 40%;

                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
            &#process{
                .inner .wrap{
                    article{
                        width: 23%;
                        margin-right: 2%;

                        .pic{
                            height: 20vw;
                        }
                        .txt{
                            h2{
                                font-size: 5vw;
                            }
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            &#topic{
                .inner dl dd{
                    &.technical .wrap article{
                        width: 32%;
                        margin-right: 2%;
                    }
                    &.behind .wrap article{
                        width: 49%;
                        margin-right: 2%;
                    }
                    &.interview .wrap article{
                        width: 32%;
                        margin-right: 2%;
                    }
                }
            }
            &#news{
                .inner .wrap{
                    >div{
                        width: 32%;
                        margin-right: 2%;

                        article{
                            &.calendar{
                                p.day{
                                    font-size: 4.5vw;
                                }
                            }
                            &.border h2{
                                font-size: 5vw;
                            }
                            &.article .pic {
                                height: 40vw;
                            }
                        }
                        &:last-child .border{
                            h1{
                                font-size: 2vw;
                            }
                            h2{
                                font-size: 2.7vw;
                            }
                        }
                    }
                }
            }
        }
    }
    
    #footer{
        padding: 50px 30px;
    
        .inner{
            width: 100%;

            .bottom address{
                width: 75%;
                line-height: 1.6;
            }
        }
    }

    #navi{
        right: 20px;
    }
}

@media screen and (max-width: $tablet2){
    #header{
        .gnbMo{
            >li{
                padding: 20px 30px;
                text-align: left;
                height: auto;

                a{
                    font-size: 22px;
                }
                .arrow{
                    display: block;
                }
                ul{
                    display: none;
                    position: relative;
                    top: auto;
                    left: auto;
                    margin-top: 20px;

                    &.on{
                        display: block;
                    }
                    li{
                        width: 150px;
                        height: 100px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #visual{
        height: 500px;

        .left, .right{
            width: 50px;
            height: 50px;
            top: 40%;
        }
        .left{
            &::before, &::after{
                width: 24px;
                left: 10px;
            }
        }
        .right{
            &::before, &::after{
                width: 24px;
                right: 10px;
            }
        }
    }

    #main{
        .section{
            .inner{
                .title{
                    font-size: 50px;
                }
                .sub{
                    font-size: 14px;
                }
            }
            &#intro .inner .wrap{
                .tit{
                    width: 100%;
                    margin-bottom: 50px;
                }
                .desc{
                    width: 100%;
                }
            }
            &#news .inner .wrap>div{
                width: 49%;

                article{
                    &.calendar p.day{
                        font-size: 6vw;
                    }
                }
                &:nth-of-type(2){
                    margin-right: 0;
                }
                &:nth-of-type(3){
                    width: 100%;

                    article{
                        float: left;
                        width: 49%;
                        margin-right: 2%;

                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .detail{
        padding: 100px 50px;

        .pic{
            width: 100%;
            height: 50%;
            margin-bottom: 30px;
        }
        h2{
            width: 100%;
            text-align: center;
        }
    }
}

@media screen and (max-width: $mobile){
    #header{
        padding: 0 10px;

        .inner{
            height: 60px;

            h1 a{
                font-size: 24px;
            }
        }
        .gnbMo{
            height: calc(100vh - 60px);
            top: 60px;

            >li ul li{
                width: 85px;
                height: 85px;
            }
        }
    }

    #visual{
        height: 300px;

        .wrap{
            width: calc((100% / 7) * 8 + 5px);

            img{
                width: calc(((100% - 5px) / 8) - 5px);
                margin-right: 5px;

                &.on{
                    width: calc((100% - 5px) / 8);
                }
            }
        }
    }

    #main{
        .section{
            .inner{
                padding: 50px 20px;

                .title{
                    font-size: 30px;
                }
                .sub{
                    font-size: 11px;
                }
            }
            &#process .inner .wrap article{
                width: 49%;
                margin-right: 2%;
                margin-bottom: 20px;

                &:nth-of-type(even){
                    margin-right: 0;
                }
                .pic{
                    height: 42vw;
                }
            }
            &#topic .inner dl{
                dt{
                    h2{
                        font-size: 26px;
                    }
                    .btn{
                        width: 24px;
                    }
                }
                dd{
                    .pic{
                        height: 200px;
                    }
                    h3{
                        font-size: 24px;
                    }
                    &.technical{
                        .wrap{
                            display: none;
                        }
                    }
                    &.behind .wrap article{
                        width: 100%;
                        margin-right: 0;
    
                        .pic{
                            height: 150px;
                        }
                    } 
                    &.interview .wrap article{
                        width: 100%;
                        margin-right: 0;
    
                        .pic{
                            height: 100px;
                            margin-bottom: 10px;
                        }
                    }
                }
            } 
            &#news .inner .wrap>div{
                width: 100%;
                margin-right: 0;

                &:last-child{
                    article{
                        width: 100%;
                    }
                    .border{
                        h1{
                            font-size: 20px;
                        }
                        h2{
                            font-size: 30px;
                        }
                    }
                }
                article{
                    &.calendar{
                        p.day{
                            font-size: 46px;
                        }
                    }
                    &.border{
                        margin-bottom: 40px;

                        h2{
                            font-size: 24px;
                        }
                    } 
                    &.article .pic{
                        height: 300px;
                    }
                }
            }
        }
    }

    #footer{
        padding: 50px 10px;
    
        .inner{
            width: 100%;

            .top{
                text-align: center;

                h1{
                    float: none;
                    margin-bottom: 20px;
    
                    a{
                        font-size: 22px;
                    }
                }
                .sns{
                    float: none;
                    display: inline-block;

                    li{
                        &:first-child{
                            margin-left: 0;
                        }
                        a{
                            font-size: 18px;
                        }
                    }
                }
            } 
            .bottom{
                address{
                    width: 100%;
                    font-size: 12px;
                    line-height: 1.4;
                    margin-bottom: 30px;
                    text-align: center;

                    .btn{
                        font-size: 11px;
                    }
                    p{
                        margin-top: 10px;

                        span{
                            margin-left: 0;
                            display: block;
                        }
                    }
                }
                ul{
                    text-align: center;

                    li{
                        display: inline-block;
                        padding: 0px 10px;

                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
            >p{
                font-size: 12px;
                text-align: center;
            }
        }
    }

    #navi{
        display: none;
    }
}


// sub
@import 'sub/common_sub';
@import 'sub/about';
@import 'sub/community';
@import 'sub/join';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/location';