@import 'header_sub';


.content{
    width: 100%;
    border: none;

    .visual{
        width: 100%;
        height: 500px;
        background: lightgray;
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 100px 0;

        h1{
            font: 600 40px/1 $font;
            color: #000;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 40px;

            &::after{
                content:'';
                display: block;
                width: 100%;
                height: 4px;
                background: #000;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}


@import 'footer_sub';

@media screen and (max-width: $tablet){
    .content{
        .inner{
            width: 100%;
            padding: 100px 30px;
        }
    }
}

@media screen and (max-width: $mobile){
    .content{
        .inner{
            padding: 50px 10px;
        }
    }
}