.department{
    .visual{
        background: #888 url(../../img/department.jpg) no-repeat center/cover;
        opacity: 0.9;
    }
    .inner{
        h1{
            font: 500 16px/1 $font;
            color: #666;
            margin-bottom: 20px;
            padding-left: 50px;
            position: relative;
    
            &::before{
                content:'';
                display:block;
                width: 40px;
                height: 2px;
                background: #666;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -1px;
            }
        }
        h2{
            font: 600 24px/1 $font;
            color: #333;
            margin-bottom: 50px;
            letter-spacing: 1px;
        }
    }
    .top{
        width: 100%;
        background: #e7e7e7;

        .inner{
            padding-top: 350px;
            position: relative;

            .service{
                position: absolute;
                top: -350px;
                left: 0;

                h1{
                    color: #ddd;

                    &::before{
                        background: #ddd;
                    }
                }
                h2{
                    color: #eee;
                }
                .wrap{
                    article{
                        width: 380px;
                        float: left;
                        margin-right: 20px;
                        text-align: center;
                        background: #fff;
                        padding: 100px 0;
                        box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
        
                        i{
                            font-size: 80px;
                            margin-bottom: 70px;
                            color: #222;
                        }
                        p{
                            font: 500 22px/1 $font;
                            color: #222;
                            margin-bottom: 70px;
                        }
                        .btn{
                            display: inline-block;
                            width: 200px;
                            height: 50px;
                            font: 400 18px/50px $font;
                            color: #444;
                            border: 1px solid #888;
                        }
                    }
                }
            }
            .awards{
                ul li{
                    width: 100%;
                    padding: 30px;
                    background: #fff;
                    margin-bottom: 20px;
                    font-size: 0;
                    box-shadow: -2px -2px 5px rgba(0,0,0,0.05);

                    h3{
                        display: inline-block;
                        width: 50%;
                        font: 600 18px/1 $font;
                        color: #555;
                    }
                    span{
                        display: inline-block;
                        font: 500 16px/1 $font;
                        color: #777;

                        &:nth-of-type(1){
                            width: 30%;
                        }
                        &:nth-of-type(2){
                            width: 10%;
                        }
                    }
                }
            }
        }
    }
    .bottom{
        width: 100%;
        background: #f5f5f5;
        
        .inner{
            .testimonials{
                margin-bottom: 100px;
                position: relative;
                overflow: hidden;

                .wrap{
                    width: calc((100% / 2) * 4 + 20px);
                    margin-bottom: 50px;

                    article{
                        width: 580px;
                        margin-right: 20px;
                        float: left;
                        background: #e7e5eb;
                        padding: 50px 50px 50px 100px;
                        position: relative;
                        box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

                        p{
                            font: 400 18px/1.4 $font;
                            color: #666;

                            span{
                                font-weight: 500;
                                color: #444;
                            }
                            &::before{
                                content: '"';
                                display: block;
                                font: 600 50px/1.2 $font;
                                position: absolute;
                                top: 50px;
                                left: 50px;
                                color: #555;
                            }
                        }
                    }
                }
                .btnLeft{
                    @include arrowLeft();
                }
                .btnRight{
                    @include arrowRight();
                }
                .logos{
                    width: 100%;

                    &::after{
                        content:'';
                        display: block;
                        clear: both;
                    }
                    li{
                        width: calc(100% / 5);
                        height: 120px;
                        float: left;
                        border: 2px solid #bbb;
                        border-right: none;

                        &:last-child{
                            border-right: 2px solid #bbb;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: conatin;
                            filter: grayscale(80%) contrast(30%);
                        }
                    }
                }
            }
            .blog{
                margin-bottom: 100px;

                .wrap{
                    article{
                        width: 380px;
                        float: left;
                        margin-right: 20px;
                        background: #777;
                        padding: 300px 50px 50px;

                        @for $i from 1 through 3{
                            &:nth-of-type(#{$i}){
                                background: url(../img/article#{$i}.jpg) no-repeat center/cover;
                            }
                        }
                        h3{
                            font: 400 20px/1.4 $font;
                            color: #fff;
                            margin-bottom: 50px;
                        }
                        .btn{
                            font: 400 18px/1 $font;
                            color: #eee;
                            position: relative;

                            span{
                                @include arrowRight($wid:70px, $ht:1px,$bg:#eee, $top:8px, $right: -90px);
                            }
                        }
                    }
                }
            }
            .members{
                .wrap{
                    article{
                        float: left;
                        width: 380px;
                        height: 250px;
                        margin-right: 20px;
                        margin-bottom: 30px;
                        position: relative;
                        cursor: pointer;
    
                        &:nth-of-type(3n){
                            margin-right: 0;
                        }
                        .pic{
                            width: 60%;
                            height: 100%;
                            background: #bbb;
                            transition: .6s;
    
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                opacity: 0.6;
                                filter: saturate(20%);
                                transition: 1s;
                            }
                        }
                        .txt{
                            position: absolute;
                            top: 50%;
                            left: 45%;
                            transform: translateY(-50%);
                            padding: 30px;
                            width: 40%;
                            
                            .info{
                                h3{
                                    font: 400 24px/1.2 $font;
                                    color: #555;
                                    letter-spacing: -3px;
                                    margin-bottom: 50px;
                                    position: relative;
        
                                    &::after{
                                        content:'';
                                        display: block;
                                        width: 40px;
                                        height: 2px;
                                        background: #888;
                                        position: absolute;
                                        left: 0;
                                        bottom: -20px;
                                    }
                                }
                                p{
                                    font: 400 14px/1.2 $font;
                                    color: #555;
                                }
                            }
                            .hoverbox{
                                height: 0;
                                overflow: hidden;
                                
                                p{
                                    font: 500 16px/1.2 $font;
                                    color: #222;
                                    margin-bottom: 30px;
                                }
                                .arrow{
                                    display: block;
                                    width: 0;
                                    height: 1px;
                                    background: rgb(135, 154, 185);
                                    text-indent: -9999px;
                                    font-size: 0;
                                    position: relative;
        
                                    &::before{
                                        content: '';
                                        display: block;
                                        width: 0;
                                        height: 1px;
                                        background: inherit;
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        transform-origin: right center;
                                    }
                                    &::after{
                                        content: '';
                                        display: block;
                                        width: 0;
                                        height: 1px;
                                        background: inherit;
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        transform-origin: right center;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .pic{
                                box-shadow: -2px -2px 10px rgba(0,0,0,0.3);
    
                                img{
                                    filter: saturate(80%);
                                }
                            }
                            .txt{
                                background: #fff;
                                box-shadow: 2px 2px 20px rgba(0,0,0,0.2);

                                .info{
                                    display: none;
                                }
                                .hoverbox{
                                    height: auto;
                                    overflow: unset;

                                    .arrow{
                                        opacity: 1;
                                        width: 30px;
                                        transition: .6s;

                                        &::before{
                                            width: 5px;
                                            transform: rotate(45deg);
                                            transition: 0.4s 0.6s;
                                        }
                                        &::after{
                                            width: 5px;
                                            transform: rotate(-45deg);
                                            transition: 0.4s 0.6s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}