#footer_sub{
    width: 100%;
    padding: 150px 0;
    border-top: 2px solid #222;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .top{
            margin-bottom: 30px;

            h1{
                float: left;
                font-size: 0;

                a{
                    font: bold 42px/1 'Pathway Gothic One';
                    letter-spacing: 1px;
                    color: #000;
                }
            }
            .sns{
                float: right;

                li{
                    float: left;
                    margin-left: 20px;

                    a{
                        font-size: 20px;
                        color: #000;
                    }
                }
            }
        }
        .bottom{
            margin-bottom: 30px;

            address{
                float: left;
                font: 500 14px/1.8 $font;
                color: #333;
                letter-spacing: 0.5px;

                .btn{
                    background: #bbb;
                    color: #fff;
                    font-size: 12px;
                    display: inline-block;
                    padding: 0 3px;
                    cursor: pointer;
                }
                p{
                    margin-top: 30px;

                    span{
                        color: #ccc;
                        margin-left: 15px;
                    }
                }
            }
            ul{
                float: right;
                text-align: right;

                li{
                    a{
                        font: 500 14px/1.8 $font;
                        color: #000;
                        position: relative;
                    }
                    &:nth-of-type(3) a::after{
                        content:'';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
        }
        >p{
            font: 500 14px/1 $font;
            color: #ccc;
        }
    }
}

@media screen and (max-width: $tablet){
    #footer_sub{
        padding: 50px 30px;
    
        .inner{
            width: 100%;

            .bottom address{
                width: 75%;
                line-height: 1.6;
            }
        }
    }
}

@media screen and (max-width: $mobile){
    #footer_sub{
        padding: 50px 10px;
    
        .inner{
            width: 100%;

            .top{
                text-align: center;

                h1{
                    float: none;
                    margin-bottom: 20px;
    
                    a{
                        font-size: 22px;
                    }
                }
                .sns{
                    float: none;
                    display: inline-block;

                    li{
                        &:first-child{
                            margin-left: 0;
                        }
                        a{
                            font-size: 18px;
                        }
                    }
                }
            } 
            .bottom{
                address{
                    width: 100%;
                    font-size: 12px;
                    line-height: 1.4;
                    margin-bottom: 30px;
                    text-align: center;

                    .btn{
                        font-size: 11px;
                    }
                    p{
                        margin-top: 10px;

                        span{
                            margin-left: 0;
                            display: block;
                        }
                    }
                }
                ul{
                    text-align: center;

                    li{
                        display: inline-block;
                        padding: 0px 10px;

                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
            >p{
                font-size: 12px;
                text-align: center;
            }
        }
    }
}